<div class="container-fluid">
    <div id="title-bottom-bump" class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center"><h1 class="display-3"><%= @recipe.name.capitalize %></h1></div>
        <div class="col-lg-2"></div>
    </div>
    <div id="navbar-bottom-bump" class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <%= link_to '<button type="button" id="btn-sm-inverse" class="btn btn-outline-dark btn-sm">Back</button>'.html_safe, recipes_path %>
            <%= link_to '<button type="button" id="btn-sm-inverse" class="btn btn-outline-dark btn-sm">Edit</button>'.html_safe, edit_recipe_path(@recipe) %>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <div>
                <h4 style="margin-bottom: -0.8em;">Ingredients</h4>
                <% @recipe.ingredients.each do |ingredient| %>
                <br><%= ingredient.name.capitalize %>
                <% end %>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>