<div class="container-fluid">
    <div id="title-bottom-bump" class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center"><h1 class="display-3">Edit Ingredient</h1></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <br>
            <%= render 'form' %>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>