<div class="content">
  <h1>Ingredients</h1>

  <%= link_to 'New ingredient', new_ingredient_path %>

  <div class="tableContent">
    <table id="ingredients" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="60%">Name</th>
          <th width="15%">In Stock</th>
          <th></th>
        </tr>
      </thead>
     
      <% @ingredients.each do |ingredient| %>
        <tbody>
          <tr>
            <td><%= link_to ingredient.name.capitalize, ingredient_path(ingredient) %></td>
            <td>
              <% if ingredient.in_stock %>
                Yes
              <% else %>
                No
              <% end %>
            </td>

            <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %> | <%= link_to 'Delete', ingredient_path(ingredient), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>