<div class="content">
  <h1><%= @ingredient.name.capitalize %></h1>

  <p>
    <strong>In Stock:</strong>

    <% if @ingredient.in_stock %>
      Yes
    <% else %>
      No
    <% end %>
  </p>

  <%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
  <%= link_to 'Back', ingredients_path %>
</div>