/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";

.container-fluid {
    margin-top: 10vh;
}

a {
    color: #000000;
}

a:hover {
    color: #5b5b5b;
}

#btn-sm {
    background-color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    height: 29px;
}

#btn-sm-inverse {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    height: 29px;
}

#btn-sm-inverse:hover {
    background-color: #000000;
}

#title-bottom-bump {
    margin-bottom: 10px;
}

#navbar-bottom-bump {
    margin-bottom: 35px;
}
