// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#btn {
    width: 110px;
    background-color: #000000;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 0.8;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    margin: 10px;
    padding: 0.8125em 1em;
}
